[Unit]
Description= My awesome API
Wants= mongodb.service

[Service] 
ExecStart=/usr/bin/node /home/okno/public_html/express-api/server.js
StandardOutput=syslog 
SyslogIdentifier=tiny-api-socket

[Install]
WantedBy=multi-user.target
